@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/SourceCodePro/Source_Code_Pro_500.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/SourceCodePro/Source_Code_Pro_500i.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/SourceCodePro/Source_Code_Pro_700.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/SourceCodePro/Source_Code_Pro_700i.woff2') format('woff2');
}
