// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Cards / boxes to group information.
///
/// @access public
////

.card {
  border-radius: $border-radius;
  color: $color-bw-fg;
  overflow: hidden;

  &-header {
    @include spacing-first-none;

    background-color: $color-secondary;
    color: $color-white-100;
    padding: 12px $spacing-medium;
    text-align: center;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
      color: inherit;
      line-height: 1;
    }
  }

  &-body {
    @include spacing-first-none;

    background-color: $color-bw-bg;
    margin: 0;
    padding: $spacing-medium;
  }
}

.col-card {
  &.is-selected {
    background-color: $color-gray-10;
  }
}
