// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// HTML definition lists.
///
/// @access public
////

$dl-dt-width: px(200);

.dl {
  width: 100%;

  dt {
    color: $color-gray-50;
    margin-top: 0;
    padding-right: $spacing-tiny;
    position: absolute;
    text-align: end;
    width: $dl-dt-width;
  }

  dd {
    margin-left: $dl-dt-width;
    margin-top: 0;
    width: calc(100% - $dl-dt-width);
  }
}
