// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Forms and input fields.
///
/// @access public
////

$form-field-border: px(2) solid $color-gray-40;

$form-color-background: transparent;
$form-color-disabled: $color-gray-50;
$form-color-placeholder: $color-gray-25;

%form-box {
  @extend %p-medium;

  appearance: none;
  background-color: $form-color-background;
  border: 0;
  border-bottom: $form-field-border;
  color: inherit;
  padding: $spacing-micro $spacing-tiny;
  width: 100%;
}

%form-typography {
  @include typography-font($typography-font-list-sans, 400, px(18), 1.5em);
}

@mixin focus-border-embed($color) {
  border-color: $color;
  box-shadow: none;
  outline: 0;
}

@mixin focus-border($color) {
  &:focus,
  &:focus:first-child,
  &:focus:last-child {
    @include focus-border-embed($color);
  }
}

label {
  @extend %p-label;

  display: block;

  + input,
  textarea {
    margin-top: 0;
  }

  &.p-medium {
    letter-spacing: inherit;
    text-transform: none;
  }
}

.is-input,
%is-input,
select,
textarea,
[type='password'],
[type='email'],
[type='text'],
[type='checkbox'] {
  @extend %form-box;
  @extend %form-typography;
  @include focus-border($color-primary);

  &.placeholder,
  &::placeholder {
    color: $form-color-placeholder;
  }

  &.form-control-plaintext {
    background-color: transparent;
    border-color: transparent;
  }

  label + & {
    margin-top: 0;
  }

  &:invalid,
  &.invalid {
    border-color: $color-bad;
    box-shadow: none;
    color: $color-bad;
  }

  &:disabled,
  &.disabled {
    box-shadow: none;
    color: $form-color-disabled;
  }

  &::selection {
    background: $color-primary;
    color: $color-white-100;
  }
}

[type='password'] {
  letter-spacing: 0.25em;
}

textarea {
  border: $form-field-border;

  &::selection {
    background: $color-primary !important; // sass-lint:disable-line no-important
    color: $color-white-100 !important; // sass-lint:disable-line no-important
  }
}

select {
  appearance: none;
  background-image: url('img/select.png');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

[type='checkbox'] {
  border: $form-field-border;
  height: 1em;
  margin-right: $spacing-tiny;
  padding: 0;
  position: relative;
  top: 0.15em;
  width: 1em;

  &:checked {
    background-image: url('img/checked.svg');
  }

  + label {
    display: inline-block;
  }
}

[type='range'] {
  appearance: none;
  background: $color-wb-fg;
  border-radius: 1em;
  height: 0.85em;
  outline: none;
  width: 100%;

  label + & {
    margin-top: $spacing-small;
  }

  &::-webkit-slider-thumb { // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background: $color-primary;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 2em;
    width: 2em;
  }

  &::-moz-range-thumb { // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background: $color-primary;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 2em;
    width: 2em;
  }
}

.upload-group {
  margin-top: 0;

  div {
    color: $color-bw-fg;
    cursor: pointer;
    letter-spacing: 0;
    overflow: hidden;
    text-transform: none;
    white-space: nowrap;
  }
}

.client-feedback,
.server-feedback,
.server-feedback-form {
  color: $color-bad;
  display: none;

  &.show {
    display: block;
  }
}
