// Copyright 2021 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Non-browser-native modal "windows".
///
/// @access public
////

.modal {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-modal + 50;

  &.show {
    display: flex !important; // sass-lint:disable-line no-important
  }

  @include media-breakpoint-up(sm) {
    padding: $spacing-medium;
  }

  @include media-breakpoint-up(xl) {
    padding: $spacing-huge;
  }

  &-large {
    .modal-dialog {
      @extend %is-wide;
    }
  }

  &-small {
    .modal-dialog {
      @extend %is-slim;
    }
  }

  .fbg-error {
    color: $color-bad;
  }
}

.modal-dialog {
  @extend %is-medium;
  box-shadow: 0 0 $spacing-huge $color-black-100;
  color: $color-bw-fg;
  max-height: 95vh;
  overflow: hidden;
  width: 100%;

  @include media-breakpoint-up(sm) {
    border-radius: $border-radius;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal-header {
  @include spacing-first-none;

  background-color: $color-secondary;
  color: $color-white-100;
  flex-grow: 0;
  flex-shrink: 0;
  padding: $spacing-tiny $spacing-medium;
  text-align: center;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    color: inherit;
  }
}

.modal-body {
  @include spacing-first-none;

  background-color: $color-bw-bg;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacing-medium $spacing-medium $spacing-small;

  &.is-maximizied {
    min-height: 70vh;
  }
}

.modal-footer {
  @include spacing-first-none;

  background-color: $color-bw-bg;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0;
  padding: $spacing-medium;

  > *:first-child:last-child { // center single buttons/items
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-backdrop {
  background-color: $color-black-100;
  height: 100vh;
  left: 0;
  opacity: .5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-index-modal + 40;
}
