// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Our right-click/edit popups.
///
/// @access public
////

.popup {
  background-color: $color-bw-bg;
  border: px(3) solid $color-bw-fg;
  border-radius: $border-radius;
  color: $color-bw-fg;
  display: none;
  margin-left: 0.25em;
  padding: 0.25em;
  z-index: $z-index-menu - 1; // right below menu bar

  &.show {
    display: block;
  }

  .popup-menu {
    @include typography-links($color-bw-fg, $color-bw-bg, 0);

    display: block;
    line-height: 1em;
    padding: 0.5em 0.25em;

    &:hover {
      background-color: $color-secondary;
    }

    svg {
      margin-right: 0.5em;
      pointer-events: none;
    }

    .cursor-grab & {
      cursor: grabbing;
    }

    &.disabled {
      color: $color-gray-25;
      cursor: not-allowed;
      display: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  hr {
    margin-bottom: $spacing-tiny;
    margin-top: $spacing-tiny;
  }
}

.popup-anchor {
  background-color: transparent;
  display: block;
  height: 1px;
  position: absolute;
  width: 1px;
}

.multiselect {
  background-color: $color-black-50a;
  position: absolute;
}
