// Copyright 2021 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Our custom scrollbars. It's all about colors.
///
/// @access public
////

:root { // output var as string to avoid sass-lint errors
  #{'--fbg-color-scroll-fg'}: $color-wb-bg;
  #{'--fbg-color-scroll-bg'}: $color-wb-fg;
}

@mixin scrollbar-color {
  scrollbar-color: var(--fbg-color-scroll-fg) var(--fbg-color-scroll-bg); // sass-lint:disable-line no-misspelled-properties

  ::-webkit-scrollbar-track { // sass-lint:disable-line no-vendor-prefixes
    background-color: var(--fbg-color-scroll-bg);
  }

  ::-webkit-scrollbar { // sass-lint:disable-line no-vendor-prefixes
    background-color: var(--fbg-color-scroll-bg);
    width: px(12);
  }

  ::-webkit-scrollbar-thumb { // sass-lint:disable-line no-vendor-prefixes
    background-color: var(--fbg-color-scroll-fg);
  }
}

html,
body {
  @include scrollbar-color;
}
