// Copyright 2021 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Spinner / Loading animations.
///
/// @access public
////

@keyframes infinite-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin spinner ($spinner-size) {
  animation: infinite-rotate 1s linear infinite;
  border-color: transparent transparent $color-white-100 $color-white-100;
  border-radius: $spinner-size;
  border-style: solid;
  border-width: 2px;
  content: '';
  height: $spinner-size;
  width: $spinner-size;
}

.has-spinner {
  &::after {
    @include spinner(1em);
    margin-left: .25em;
  }
}

.btn.is-spinner {
  color: transparent;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;

  &::after {
    @include spinner(1em);

    left: calc(50% - .5em);
    position: absolute;
    top: calc(50% - .5em);
  }
}
