// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// The virtual tabletop / game grid.
///
/// @access public
////

.tabletop {
  #{'--fbg-tabletop-image'}: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQAAAAA3iMLMAAAAC0lEQVR4AWMgEQAAADAAAclXe4EAAAAASUVORK5CYII=');
  #{'--fbg-tabletop-color'}: #808080;
  #{'--fbg-tabletop-width'}: 1024px;
  #{'--fbg-tabletop-height'}: 1024px;
  #{'--fbg-tabletop-grid'}: 'none';
  #{'--fbg-grid-x'}: 64px;
  #{'--fbg-grid-y'}: 64px;
  #{'--fbg-zoom'}: 1;

  $tile-size: 64px;

  background-color: var(--fbg-tabletop-color);
  background-image: none, var(--fbg-tabletop-image);
  background-size: zoom(var(--fbg-grid-x)) zoom(var(--fbg-grid-y)), zoom(1536px);
  height: zoom(var(--fbg-tabletop-height));
  overflow: hidden;
  position: relative;
  transition: width $fbg-transition, height $fbg-transition, background-size $fbg-transition;
  width: zoom(var(--fbg-tabletop-width));

  &.is-delay-transition-none {
    transition: none !important; // sass-lint:disable-line no-important

    * {
      transition: none !important; // sass-lint:disable-line no-important
    }
  }

  &.has-grid {
    background-image: var(--fbg-tabletop-grid), var(--fbg-tabletop-image);
  }

  &.is-drawing {
    cursor: crosshair;
  }

  .is-quality-low & {
    background-image: var(--fbg-tabletop-grid) !important; // sass-lint:disable-line no-important
  }

  .is-quality-high & {
    filter: grayscale(10%);
  }

  .is-quality-ultra & {
    filter: grayscale(10%) sepia(5%);
  }

  &.is-zoom-2-0 {
    #{'--fbg-zoom'}: 2;
  }

  &.is-zoom-1-75 {
    #{'--fbg-zoom'}: 1.75;
  }

  &.is-zoom-1-50 {
    #{'--fbg-zoom'}: 1.5;
  }

  &.is-zoom-1-25 {
    #{'--fbg-zoom'}: 1.25;
  }

  &.is-zoom-0-75 {
    #{'--fbg-zoom'}: .75;
  }

  &.is-zoom-0-50 {
    #{'--fbg-zoom'}: .5;
  }

  .layer {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    > * {
      position: absolute;
    }

    &-other {
      z-index: 5;
    }

    &-token {
      z-index: 4;
    }

    &-note {
      z-index: 3;
    }

    &-overlay {
      z-index: 2;
    }

    &-tile {
      z-index: 1;
    }

    &-table {
      z-index: 0;
    }
  }

  @each $layer in (tile, overlay, token, other, note) {
    &.layer-#{$layer}-enabled {
      .layer-#{$layer} > * {
        pointer-events: all;
      }
    }
  }
}
