// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// The virtual tabletop / game grid.
///
/// @access public
////

.tabletop {
  #{'--fbg-tabletop-image'}: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQAAAAA3iMLMAAAAC0lEQVR4AWMgEQAAADAAAclXe4EAAAAASUVORK5CYII=');
  #{'--fbg-tabletop-color'}: #808080;
  #{'--fbg-tabletop-width'}: 1024px;
  #{'--fbg-tabletop-height'}: 1024px;
  #{'--fbg-tabletop-grid'}: 'none';

  $tile-size: 64px;

  background-color: var(--fbg-tabletop-color);
  background-image: none, var(--fbg-tabletop-image);
  background-size: auto, auto;
  height: var(--fbg-tabletop-height);
  overflow: hidden;
  position: relative;
  width: var(--fbg-tabletop-width);

  &.has-grid {
    background-image: var(--fbg-tabletop-grid), var(--fbg-tabletop-image);
  }

  &.is-drawing {
    cursor: crosshair;
  }

  .is-quality-low & {
    background-image: none !important; // sass-lint:disable-line no-important
  }

  .is-quality-high & {
    filter: grayscale(10%);
  }

  .is-quality-ultra & {
    filter: grayscale(10%) sepia(5%);
  }

  .layer {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    > * {
      position: absolute;
    }

    &-other {
      z-index: 5;
    }

    &-token {
      z-index: 4;
    }

    &-note {
      z-index: 3;
    }

    &-overlay {
      z-index: 2;
    }

    &-tile {
      z-index: 1;
    }

    &-table {
      z-index: 0;
    }
  }

  @each $layer in (tile, overlay, token, other, note) {
    &.layer-#{$layer}-enabled {
      .layer-#{$layer} > * {
        pointer-events: all;
      }
    }
  }

  // shift background texture on different tables a bit
  // @for $t from 2 through 9 {
  //   &.table-#{$t} {
  //     background-position:
  //     0 0,
  //     48px * ($t - 1) * (($t % 2) - .5) * 2 48px * ($t - 1) * (($t % 2) - .5) * -2;
  //   }
  // }
}
