// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Tabs.
///
/// @access public
////

.tabs {
  > input {
    opacity: 0;
    position: absolute;
  }

  .tabs-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tabs-tab {
      border-bottom: $form-field-border;
      color: $color-bw-fg;
      cursor: pointer;
      margin: $spacing-micro;
      padding: $spacing-micro;
      text-align: center;
      width: 100%;
    }
  }

  .tabs-content {
    > * {
      display: none;
    }
  }

  @for $tab from 1 through 8 {
    input:nth-of-type(#{$tab}):checked {
      ~ .tabs-tabs > :nth-child(#{$tab}) {
        border-color: $color-primary;
        color: $color-primary;
      }

      ~ .tabs-content > :nth-child(#{$tab}) {
        display: block;
      }
    }
  }
}
