// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Small badges / tags.
///
/// @access public
////

.tag {
  @extend %p-label;

  background-color: $color-secondary;
  border-radius: 3px;
  color: $color-white-100;
  line-height: 1em;
  padding: .2em .25em;
  pointer-events: none;
  text-transform: none;

  &.tr {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.tl {
    left: 0;
    position: absolute;
    top: 0;
  }

  &.bl {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  &.br {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
