// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Gaming pieces on the virtual gaming board. E.g. tiles and tokens.
///
/// @access public
////

@import 'rotate';
@import 'shadow';

$piece-tile-size: 64px;
$piece-border-size: 3px;
$piece-margin: 3px;
$piece-corner-radius: 2px;
$piece-rotate: 1deg;

// --- piece basics (size, ...) ------------------------------------------------

@keyframes whirl {
  from {
    transform: rotate(0deg) translateX(4px);
  }

  to {
    transform: rotate(360deg) translateX(4px);
  }
}

:root {
  #{'--fbg-x'}: 0;
  #{'--fbg-y'}: 0;
  #{'--fbg-z'}: 0;
  #{'--fbg-color'}: var(--fbg-color-medium);
  #{'--fbg-color-invert'}: var(--fbg-color-light);
  #{'--fbg-border-color'}: var(--fbg-color-medium);
  #{'--fbg-border-color-invert'}: var(--fbg-color-light);
  #{'--fbg-material'}: none;
  #{'--fbg-side'}: none;
  #{'--fbg-base'}: none;
  #{'--fbg-mask'}: none;
  #{'--fbg-grid'}: none;
}

.piece {
  align-items: center; // mainly for labels
  background-color: var(--fbg-color);
  background-image: none, var(--fbg-grid), var(--fbg-side), var(--fbg-base);
  background-position: center, var(--fbg-grid-x-origin) var(--fbg-grid-y-origin), center, center;
  background-size: cover, zoom(var(--fbg-grid-x)) zoom(var(--fbg-grid-y)), cover, cover;
  display: flex;
  height: zoom($piece-tile-size);
  justify-content: center;
  left: zoom(var(--fbg-x));
  top: zoom(var(--fbg-y));
  width: zoom($piece-tile-size);
  z-index: var(--fbg-z);

  $piece-tile-half: math.div($piece-tile-size, 2);

  &.is-selected {
    $selected-color: $color-secondary;

    filter:
    drop-shadow(zoom(2px) 0 0 $selected-color)
    drop-shadow(0 zoom(2px) 0 $selected-color)
    drop-shadow(zoom(-2px) 0 0 $selected-color)
    drop-shadow(0 zoom(-2px) 0 $selected-color) !important; // sass-lint:disable-line no-important
  }

  &.is-invalid {
    background-image: url('img/invalid.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.is-pointer {
    animation: whirl 1s linear infinite;
    #{'--fbg-side'}: url('img/pointer.png');
    filter: none !important; // sass-lint:disable-line no-important
  }

  // --- size ------------------------------------------------------------------

  @for $x from 1 through 32 {
    &.is-w-#{$x} {
      width: zoom($x * $piece-tile-size);
    }
  }

  @for $y from 1 through 32 {
    &.is-h-#{$y} {
      height: zoom($y * $piece-tile-size);
    }
  }

  // --- material --------------------------------------------------------------

  @each $id in $random-ids {
    $i: index($random-ids, $id);

    &[id^='#{$id}'] {
      background-position: zoom(($i * 64px) % 256) zoom(math.floor(math.div(($i * 64px), 256))), var(--fbg-grid-x-origin) var(--fbg-grid-y-origin), center, center;
    }
  }

  // --- borders + 3d highlight ------------------------------------------------

  &.has-border {
    box-shadow: 0 0 0 zoom($piece-border-size) var(--fbg-border-color) inset;
  }

  .is-quality-high &,
  .is-quality-ultra & {
    background-image: var(--fbg-material), var(--fbg-grid), var(--fbg-side), var(--fbg-base);
    background-size: zoom(512px), zoom(var(--fbg-grid-x)) zoom(var(--fbg-grid-y)), cover, cover;

    &.has-highlight {
      box-shadow: highlight();

      &.has-border {
        box-shadow: highlight(), 0 0 0 zoom($piece-border-size) var(--fbg-border-color) inset;
      }
    }
  }

  // --- labels (flexbox positions) --------------------------------------------

  .label {
    background-color: $color-black-50a;
    border-radius: 2em;
    color: $color-white-100;
    font-size: zoom(.6875em);
    font-weight: 600;
    letter-spacing: -.025em;
    line-height: 1.1875em;
    padding: .125em .5em;
    pointer-events: none;
    position: relative;
    white-space: nowrap;
    z-index: 99; // within the piece

    .icon {
      display: inline-block;
      height: 1em;
      margin-left: px(1);
      margin-right: px(1);
      margin-top: px(-1);
      width: 1em;
    }
  }

  // --- label ellipsis ---

  .label.ellipsis {
    max-width: zoom(1.5 * $piece-tile-size);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
  }

  @for $x from 2 through 32 {
    &.is-w-#{$x} {
      .label.ellipsis {
        max-width: zoom($x * $piece-tile-size);
      }

      &:hover .label {
        max-width: unset;
      }
    }
  }

  &:hover .label {
    font-size: zoom(px(16));
    max-width: unset;
  }

  // --- piece masks -----------------------------------------------------------

  &.has-mask {
    background-color: transparent;
    background-image: var(--fbg-side); // e.g. pin outer
    background-position: center;
    background-size: cover;

    > .is-mask {
      background-color: var(--fbg-color);
      background-image: none, var(--fbg-grid), var(--fbg-side), var(--fbg-base);
      background-position: center, var(--fbg-grid-x-origin) var(--fbg-grid-y-origin), center, center;
      background-size: zoom(256px), zoom(var(--fbg-grid-x)) zoom(var(--fbg-grid-y)), cover, cover;
      height: 100%;
      mask-image: var(--fbg-mask);
      mask-position: center;
      mask-size: cover;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }

    .is-quality-high &,
    .is-quality-ultra & {
      > .is-mask {
        background-image: var(--fbg-material), var(--fbg-grid), var(--fbg-side), var(--fbg-base);
      }
    }
  }


  // --- drag-n-drop -----------------------------------------------------------

  &.is-dragging {
    opacity: .5;

    &.is-dragging-hidden {
      opacity: 0;
    }
  }

  &:not(.is-dragging) {
    transition:
    left $fbg-transition,
    top $fbg-transition,
    transform $fbg-transition,
    filter $fbg-transition,
    width $fbg-transition,
    height $fbg-transition,
    box-shadow $fbg-transition;
  }

  // --- backsides -------------------------------------------------------------

  &.is-backside {
    #{'--fbg-color'}: $color-backside !important; // sass-lint:disable-line no-important

    .label {
      display: none;
    }
  }
}

// --- specific pieces ---------------------------------------------------------

@import 'piece-token';
@import 'piece-tile';
@import 'piece-sticker';
@import 'piece-other';
@import 'piece-note';
@import 'piece-los';
