// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Gaming pieces on the virtual gaming board. E.g. tiles and tokens.
///
/// @access public
////

$piece-other-shadow: zoom(3px) zoom(3px) zoom(4px) $color-black-50a;

.piece-other {
  #{'--fbg-color'}: transparent;
}

// --- quality settings --------------------------------------------------------

.is-quality-medium .piece-other {
  filter: drop-shadow($shadow-flat);
}

.is-quality-high .piece-other,
.is-quality-ultra .piece-other {
  filter: drop-shadow($piece-other-shadow);
}

.is-quality-ultra .piece-other {
  @include rotate-random($piece-rotate * 4);
  @for $x from 8 through 32 { // disable rotation for 8+ sized tiles
    &.is-w-#{$x} { #{'--fbg-r2'}: 0deg; }
    &.is-y-#{$x} { #{'--fbg-r2'}: 0deg; }
  }
}
