// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Gaming pieces on the virtual gaming board. E.g. tiles and tokens.
///
/// @access public
////

.piece-token {
  border-radius: zoom($piece-tile-size);
  margin: $piece-margin;

  $is-n-size: zoom(px(16));

  // different labels for square tokens
  @for $v from 1 through 32 {
    &.is-w-#{$v}.is-h-#{$v} {
      .label {
        margin-top: 100%;
        transform-origin: center zoom(calc(($piece-tile-size * $v / 2 - $piece-margin * 4 + 1px) * -1));
      }

      &:hover .label {
        transform-origin: center zoom(calc(($piece-tile-size * $v / 2 - $piece-margin * 4 - 2.5px) * -1));
      }
    }
  }

  &.is-n::after {
    align-items: center;
    background-color: var(--fbg-color);
    background-image: var(--fbg-material);
    border-radius: 100%;
    color: var(--fbg-color-invert);
    display: flex;
    flex-direction: row;
    font-size: zoom(0.85em);
    font-weight: 600;
    height: $is-n-size;
    justify-content: center;
    margin-top: calc($is-n-size / -2);
    position: absolute;
    right: 0;
    top: 50%;
    width: $is-n-size;
  }

  @each $id in $random-ids {
    $i: index($random-ids, $id);

    &[id^='#{$id}'].is-n::after {
      background-position: zoom(($i * 64px) % math.div($material-size, 2)) zoom(math.floor(math.div(($i * 64px), math.div($material-size, 2))));
    }
  }

  &.has-border.is-n::after {
    background-color: var(--fbg-border-color);
    color: var(--fbg-border-color-invert);
  }

  &.is-n-1::after { content: '1'; }
  &.is-n-2::after { content: '2'; }
  &.is-n-3::after { content: '3'; }
  &.is-n-4::after { content: '4'; }
  &.is-n-5::after { content: '5'; }
  &.is-n-6::after { content: '6'; }
  &.is-n-7::after { content: '7'; }
  &.is-n-8::after { content: '8'; }
  &.is-n-9::after { content: '9'; }
  &.is-n-10::after { content: 'A'; }
  &.is-n-11::after { content: 'B'; }
  &.is-n-12::after { content: 'C'; }
  &.is-n-13::after { content: 'D'; }
  &.is-n-14::after { content: 'E'; }
  &.is-n-15::after { content: 'F'; }
  &.is-n-16::after { content: 'G'; }
  &.is-n-17::after { content: 'H'; }
  &.is-n-18::after { content: 'I'; }
  &.is-n-19::after { content: 'J'; }
  &.is-n-20::after { content: 'K'; }
  &.is-n-21::after { content: 'L'; }
  &.is-n-22::after { content: 'M'; }
  &.is-n-23::after { content: 'N'; }
  &.is-n-24::after { content: 'O'; }
  &.is-n-25::after { content: 'P'; }
  &.is-n-26::after { content: 'Q'; }
  &.is-n-27::after { content: 'R'; }
  &.is-n-28::after { content: 'S'; }
  &.is-n-29::after { content: 'T'; }
  &.is-n-30::after { content: 'U'; }
  &.is-n-31::after { content: 'V'; }
  &.is-n-32::after { content: 'W'; }
  &.is-n-33::after { content: 'X'; }
  &.is-n-34::after { content: 'Y'; }
  &.is-n-35::after { content: 'Z'; }

  @for $x from 1 through 32 {
    &.is-w-#{$x} {
      width: zoom(calc($x * $piece-tile-size - $piece-border-size * 2));
    }
  }

  @for $y from 1 through 32 {
    &.is-h-#{$y} {
      height: zoom(calc($y * $piece-tile-size - $piece-border-size * 2));
    }
  }

  &.is-border-0 {
    &.is-n::after {
      background-color: var(--fbg-color);
      color: var(--fbg-color-invert);
    }
  }

  &.has-mask {
    border-radius: 0;
  }

  // --- backsides -------------------------------------------------------------

  &.is-backside::after {
    display: none;
  }
}

// --- quality settings --------------------------------------------------------

.is-quality-high .piece-token,
.is-quality-ultra .piece-token {
  &.is-border-0 {
    &.is-n::after {
      opacity: 0.85;
    }
  }
}
