// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Sticky notes.
///
/// @access public
////

$piece-note-glue: rgba(0, 0, 0, .02);
$piece-note-rotate: 4deg;

// cursor: grabbing !important; // sass-lint:disable-line no-important

.piece-note {
  @extend %flex-center-center;
  @include typography-font($typography-font-list-hand, 400, px(32), 1.15em, .025em);

  #{'--fbg-color'}: $color-gray-10;
  #{'--fbg-color-invert'}: $color-bw-fg;
  border-bottom-left-radius: zoom(1px) 90%;
  border-bottom-right-radius: 50% zoom(4px);
  color: var(--fbg-color-invert);
  cursor: default;
  flex-direction: column;
  font-size: zoom(2em); // 32px
  font-variant-ligatures: none;
  overflow: hidden;
  padding: zoom($spacing-medium);
  position: relative;
  text-align: center;
  word-break: break-word;

  .cursor-grab & {
    cursor: grabbing;
  }

  .cursor-cross & {
    cursor: crosshair;
  }

  // --- content ---

  @include markdown;

  &.is-topleft {
    align-items: start;
    justify-content: start;
    text-align: start;
  }

  // --- reduce text size on small notes ---

  &.is-w-1 {
    font-size: zoom(.5em); // 8px
    padding: zoom($spacing-tiny);
  }

  &.is-w-2 {
    font-size: zoom(.75em); // 12px
    padding: zoom($spacing-small);
  }

  &.is-w-3 {
    font-size: zoom(1.125em); // 18px
    padding: zoom($spacing-small);
  }

  &.is-w-4 {
    font-size: 1.5em;
  }
}

// --- quality settings --------------------------------------------------------

.is-quality-medium .piece-note {
  box-shadow: 0 zoom(3px) 0 zoom(-2px) $color-black-35a; // flat corner shadow
}

.is-quality-high .piece-note,
.is-quality-ultra .piece-note {
  box-shadow:
  0 zoom(4px) zoom(4px) zoom(-4px) $color-black-85a, // corner shadow
  0 zoom(46px) zoom(2px) zoom(-2px) inset $piece-note-glue; // glue band
}

.is-quality-ultra .piece-note {
  &::after { // light white effect on corner
    bottom: 0;
    box-shadow: 0 0 zoom(32px) zoom(3px) $color-white-100;
    content: '';
    height: zoom(1px);
    position: absolute;
    right: 0;
    width: 15%;
  }

  @include rotate-random($piece-note-rotate);
}
