// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Gaming pieces on the virtual gaming board. E.g. tiles and tokens.
///
/// @access public
////

// --- quality settings --------------------------------------------------------

// .is-quality-medium .piece-tile {
//   filter: drop-shadow($shadow-flat);
// }

.is-quality-high .piece-tile,
.is-quality-ultra .piece-tile {
  background-image: var(--fbg-material), var(--fbg-image);
  background-size: zoom(256px), cover;
  border-radius: zoom($piece-corner-radius);

  @each $id in $random-ids {
    $i: index($random-ids, $id);

    &[id^='#{$id}'] {
      background-position: zoom(calc(256px / 64 * $i)) zoom(192px * $i), center;
    }
  }

  &.has-decal {
    background-image: var(--fbg-material), var(--fbg-decal), var(--fbg-image);
    background-size: zoom(256px), cover, cover;
    @each $id in $random-ids {
      $i: index($random-ids, $id);

      &[id^='#{$id}'] {
        background-position: zoom(calc(256px / 64 * $i)) zoom(192px * $i), center, center;
      }
    }
  }
}

.is-quality-ultra .piece-tile {
  @include rotate-random($piece-rotate);
  @for $x from 8 through 32 { // disable rotation for 8+ sized tiles
    &.is-w-#{$x} { #{'--fbg-r2'}: 0deg; }
    &.is-y-#{$x} { #{'--fbg-r2'}: 0deg; }
  }
}
