// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// shadow.scss
///
/// Helpers that calculate highlights and shadows.
///
/// @group abstracts
/// @access public
////

// $rotate-steps: 0 60 90 120 180 240 270 300;

:root {
  #{'--fbg-r'}: 0deg;
  #{'--fbg-r2'}: 0deg;
}

// --- rotation --------------------------------------------------------------

.is-r {
  transform: rotate(var(--fbg-r));

  > .label {
    transform: rotate(calc(var(--fbg-r) * -1));
    transition: transform $fbg-transition; // keep up with rotation
  }
}

@for $r from 0 through 359 { // @each $r in $rotate-steps
  .is-r-#{$r} {
    #{'--fbg-r'}: $r * 1deg;
  }
}

// --- 'random' rotation -------------------------------------------------------

$rotate-jitter: (-1) (-0.97) (-0.94) (-0.91) (-0.88) (-0.84) (-0.81) (-0.78) (-0.75) (-0.72) (-0.69) (-0.66) (-0.63) (-0.59) (-0.56) (-0.53) (-0.5) (-0.47) (-0.44) (-0.41) (-0.38) (-0.34) (-0.31) (-0.28) (-0.25) (-0.22) (-0.19) (-0.16) (-0.13) (-0.09) (-0.06) (-0.03) 0.03 0.06 0.09 0.13 0.16 0.19 0.22 0.25 0.28 0.31 0.34 0.38 0.41 0.44 0.47 0.5 0.53 0.56 0.59 0.63 0.66 0.69 0.72 0.75 0.78 0.81 0.84 0.88 0.91 0.94 1 0;

@mixin rotate-random($amount) { // random rotation of pieces
  transform: rotate(var(--fbg-r)) rotate(var(--fbg-r2));

  @each $id in $random-ids {
    $i: index($random-ids, $id);
    $jitter: nth($rotate-jitter, $i);

    &[id^='#{$id}'] {
      #{'--fbg-r2'}: $amount * $jitter;
    }
  }
}

// --- animation/transition fixes ----------------------------------------------

// 359 -> 001: set to -1 and disable transition; wait 10ms; remove delay classes
// 001 -> 359: set to 361 and disable transition; wait 10ms; remove delay classes

@for $r from 180 through 359 {
  .is-delay-r-#{$r} {
    #{'--fbg-r'}: ($r - 360) * 1deg;
  }
}

@for $r from 0 through 179 {
  .is-delay-r-#{$r} {
    #{'--fbg-r'}: ($r + 360) * 1deg;
  }
}

.is-delay-r {
  transition: none !important; // sass-lint:disable-line no-important

  .label {
    transition: none !important; // sass-lint:disable-line no-important
  }
}
