// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// shadow.scss
///
/// Helpers that calculate highlights and shadows.
///
/// @group abstracts
/// @access public
////

// $rotate-steps: 0 60 90 120 180 240 270 300;

:root {
  #{'--fbg-r'}: 0deg;
  #{'--fbg-r2'}: 0deg;
}

// --- rotation --------------------------------------------------------------

.is-r {
  transform: rotate(var(--fbg-r));

  > .label {
    transform: rotate(calc(var(--fbg-r) * -1));
    transition: transform $fbg-transition; // keep up with rotation
  }
}

@for $r from 0 through 359 { // @each $r in $rotate-steps
  .is-r-#{$r} {
    #{'--fbg-r'}: $r * 1deg;
  }
}

// --- 'random' rotation -------------------------------------------------------

$rotate-jitter: (-1) (-.97) (-.94) (-.91) (-.88) (-.84) (-.81) (-.78) (-.75) (-.72) (-.69) (-.66) (-.63) (-.59) (-.56) (-.53) (-.5) (-.47) (-.44) (-.41) (-.38) (-.34) (-.31) (-.28) (-.25) (-.22) (-.19) (-.16) (-.13) (-.09) (-.06) (-.03) .03 .06 .09 .13 .16 .19 .22 .25 .28 .31 .34 .38 .41 .44 .47 .5 .53 .56 .59 .63 .66 .69 .72 .75 .78 .81 .84 .88 .91 .94 1 0;

@mixin rotate-random($amount) { // random rotation of pieces
  transform: rotate(var(--fbg-r)) rotate(var(--fbg-r2));

  @each $id in $random-ids {
    $i: index($random-ids, $id);
    $jitter: nth($rotate-jitter, $i);

    &[id^='#{$id}'] {
      #{'--fbg-r2'}: $amount * $jitter;
    }
  }
}

// --- animation/transition fixes ----------------------------------------------

@for $r from 1 through 359 {
  .is-delay-r-#{$r} {
    #{'--fbg-r'}: ($r - 360) * 1deg;
  }
}

.is-delay-r-0 {
  #{'--fbg-r'}: 360deg;
}

.is-delay-r {
  transition: none !important; // sass-lint:disable-line no-important

  .label {
    transition: none !important; // sass-lint:disable-line no-important
  }
}
