// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// shadow.scss
///
/// Helpers that calculate highlights and shadows.
///
/// @group abstracts
/// @access public
////

$shadow-direction-origin: 120deg;
$shadow-direction: $shadow-direction-origin - 90deg; // CSS origin is north
$shadow-highlight-width: 1.5px;

:root {
  #{'--fbg-r-sin'}: math.sin($shadow-direction);
  #{'--fbg-r-cos'}: math.cos($shadow-direction);
  #{'--fbg-shadow-length'}: 2px;
}

@for $r from 0 through 359 { // @each $r in $rotate-steps
  .is-r-#{$r} {
    #{'--fbg-r-sin'}: math.sin($shadow-direction + ($r * 1deg));
    #{'--fbg-r-cos'}: math.cos($shadow-direction + ($r * 1deg));
  }

  .is-delay-r-#{$r} {
    #{'--fbg-r-sin'}: math.sin($shadow-direction - (360 - $r) * 1deg);
    #{'--fbg-r-cos'}: math.cos($shadow-direction - (360 - $r) * 1deg);
  }
}

/// Return a drop-shadow value for the configured shadow.
///
/// @example scss
///   shadow(2px, #001122)
///
/// @param {length} $blur The amount of blur.
/// @param {length} $color The color of the shadow
/// @returns {value} The drop shadow value, e.g. '2px 3px 2px #001122'.
@function shadow($blur, $color) {
  @return
  zoom(calc(var(--fbg-r-sin) * var(--fbg-shadow-length)))
  zoom(calc(var(--fbg-r-cos) * var(--fbg-shadow-length)))
  zoom($blur)
  $color;
}

/// Return a box-shadow highlight and darklight value for the configured light source.
///
/// @example scss
///   highlight()
///
/// @returns {value} The drop shadow value, e.g. '2px 3px 2px #001122'.
@function highlight() {
  @return
  zoom(calc(var(--fbg-r-sin) * $shadow-highlight-width)) zoom(calc(var(--fbg-r-cos) * $shadow-highlight-width)) zoom(.5px) 0 $color-white-15a inset,
  zoom(calc(var(--fbg-r-sin) * -1 * $shadow-highlight-width)) zoom(calc(var(--fbg-r-cos) * -1 * $shadow-highlight-width)) zoom(.5px) 0 $color-black-20a inset;
}

$shadow: shadow(2px, $color-black-65a);

$shadow-flat: shadow(0, $color-black-35a); // sass-lint:disable-line zero-unit
