// Copyright 2021-2023 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group components
///
/// Specfics for the pieces library modal.
///
/// @access public
////

@mixin modal-library-flate($bg-size-x, $bg-size-y, $scale) {
  background-size: $bg-size-x $bg-size-y, calc(1536px * $scale);

  > * {
    transform: scale($scale);
  }

  &.is-even-x {
    background-position: calc(50% + $bg-size-x / 2) 50%;
  }

  &.is-even-y {
    background-position: 50% calc(50% + $bg-size-y / 2);
  }

  &.is-even-x.is-even-y {
    background-position: calc(50% + $bg-size-x / 2) calc(50% + $bg-size-y / 2);
  }
}

.modal-library {
  .modal-body {
    .piece {
      pointer-events: none;
      position: relative;
    }

    .col-card {
      overflow: hidden;

      .is-preview {
        cursor: pointer;
      }

      p {
        @extend %p-small;

        letter-spacing: -0.025em;
        margin: $spacing-tiny auto $spacing-small;
        text-align: center;
      }
    }

    .is-preview-upload {
      @extend %flex-center-center;

      background-color: var(--fbg-tabletop-color);
      background-image: var(--fbg-tabletop-grid), var(--fbg-tabletop-image);
      background-position: center;
      border-radius: $border-radius;
      box-shadow: 0 0 16px $color-black-25a inset;
      cursor: pointer;
      max-height: 50vh;
      min-height: 50vh;

      > * {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .is-grid-square & {
        @include modal-library-flate(64px, 64px, 1);

        &.is-inflate-2x { @include modal-library-flate(128px, 128px, 2); }
        &.is-deflate-2x { @include modal-library-flate(32px, 32px, 0.5); }
        &.is-deflate-3x { @include modal-library-flate(24px, 24px, 0.375); }
        &.is-deflate-4x { @include modal-library-flate(16px, 16px, 0.25); }
      }

      .is-grid-hex & {
        @include modal-library-flate(110px, 64px, 1);

        &.is-inflate-2x { @include modal-library-flate(220px, 128px, 2); }
        &.is-deflate-2x { @include modal-library-flate(55px, 32px, 0.5); }
        &.is-deflate-3x { @include modal-library-flate(41px, 24px, 0.375); }
        &.is-deflate-4x { @include modal-library-flate(28px, 16px, 0.25); }
      }

    }
  }

  .modal-footer {
    .search {
      $search-size: px(16);

      svg {
        height: $search-size;
        width: $search-size;
      }

      input {
        background: transparent;
        margin-left: -$search-size;
        margin-top: 0;
        padding-left: $search-size + px(8);
        width: px(256);

        @include media-breakpoint-only(sm) {
          width: px(192);
        }
      }

      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
  }
}

// --- library editor ----------------------------------------------------------

.library-editor {
  .is-preview {
    height: px(128);
    overflow: hidden;
    width: px(128);
  }
}

// --- preview tokens ----------------------------------------------------------

.is-preview { // fixed maximum size for preview in modals
  background-color: var(--fbg-tabletop-color);
  background-image: var(--fbg-tabletop-image);
  background-position: center;
  background-repeat: repeat;
  border-radius: px(2);
  height: $piece-tile-size * 2;
  margin: 0 auto;
  position: relative;
  width: $piece-tile-size * 2;

  .is-quality-low & {
    background-image: none;
  }

  &.is-selected { box-shadow: 0 0 0 $piece-border-size $color-secondary; }

  > .piece {
    left: 50%;
    position: absolute;
    top: 50%;

    &.piece-token {
      margin: 0;
    }
  }

  @for $x from 1 through 2 {
    &.is-max-#{$x} {
      background-size: 768px;

      .piece {
        transform: translate(-50%, -50%) !important; // sass-lint:disable-line no-important
      }
    }
  }

  @for $x from 3 through 32 {
    &.is-max-#{$x} {
      background-size: calc(1536px / $x);

      .piece {
        transform: scale(math.div(2, $x)) translate(-50%, -50%) !important; // sass-lint:disable-line no-important
        transform-origin: top left;
      }
    }
  }
}

.is-quality-low {
  .is-preview-upload,
  .is-preview {
    background-image: none !important; // sass-lint:disable-line no-important
  }
}
