// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group base
///
/// Defines fonts and typography rules.
///
/// @access public
////

@import '../../fonts/Poppins/Poppins';
@import '../../fonts/PatrickHand/PatrickHand';

$typography-font-list-fallback:
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
'Helvetica Neue',
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol';

$typography-font-list-monospace-fallback:
SFMono-Regular,
Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
monospace;

/// Setup links (anchors). Fancy with color, opacity and colorful underlines!
///
/// @example scss
///   @include a-underlined(#333, rgba(#333, 0.7), 2px, #555, rgba(#555, 0.7));
///
/// @param {color} $color [inherit] The text color.
/// @param {color} $color-hover [$color] The text color when hovering.
/// @param {length} $underline-height [1px] The height / thickness of the underline.
/// @param {color} $underline-color [$color] The regular color of the underline.
/// @param {color} $underline-color-hover [$color] The hover color fo the underline.
/// @output An `a {}` rules block for fancy links.
@mixin typography-links(
  $color: inherit,
  $color-hover: $color,
  $underline-height: 1px,
  $underline-color: $color,
  $underline-color-hover: $color
) {
  $gradient-transparent: linear-gradient(transparent, transparent);

  background-image: $gradient-transparent, $gradient-transparent, linear-gradient(to right, $underline-color, $underline-color);
  background-position: left bottom 2px; // depends on underline
  background-repeat: no-repeat;
  background-size: 100% $underline-height;
  color: $color;
  display: inline;
  padding-bottom: 0;
  position: relative;
  text-decoration: none;

  &:hover {
    background-image: $gradient-transparent, $gradient-transparent, linear-gradient(to right, $underline-color-hover, $underline-color-hover);
    color: $color-hover;
    text-decoration: none;
  }
}

@mixin typography-font (
  $font-family,
  $font-weight: 400,
  $font-size: 1em,
  $line-height: 1.5em,
  $letter-spacing: 0
) {
  @include set-property-if-not(letter-spacing, 0, $letter-spacing);

  color: inherit;
  font-family: $font-family;
  font-size: round-rem($font-size);
  font-weight: $font-weight;
  line-height: round-rem($line-height);
}

// --- font-specific tweaks ----------------------------------------------------

$typography-font-list-sans: 'Poppins', $typography-font-list-fallback;
$typography-font-list-sans-lineheight: 1; // scale bad font heights here
$typography-font-list-monospace: $typography-font-list-monospace-fallback;
$typography-font-list-monospace-lineheight: 1; // scale bad font heights here
$typography-font-list-hand: 'Patrick Hand', $typography-font-list-sans;

$typography-font-size-base: px(16);
$typography-letter-spacing-base: 0;
$typography-paragraph-lineheight: 1.6em;
$typography-font-weight-regular: 400;
$typography-font-weight-bold: $typography-font-weight-regular + 200;

// --- or general typography style set -----------------------------------------

h1,
.h1,
%h1 {
  @extend %spacing-large;
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular + 100,
    $typography-font-size-base * 1.5,
    1.25em,
    $typography-letter-spacing-base
  );
}

h2,
.h2,
%h2 {
  @extend %spacing-medium;
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular + 100,
    $typography-font-size-base * 1.5,
    1.25em,
    $typography-letter-spacing-base
  );
}

h3,
.h3,
%h3 {
  @extend %spacing-small;
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular + 100,
    $typography-font-size-base * 1.25,
    1.25em,
    $typography-letter-spacing-base
  );
}

h4,
.h4,
%h4,
h5,
.h5,
%h5,
h5,
.h5,
%h6 {
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular,
    $typography-font-size-base,
    $typography-paragraph-lineheight,
    $typography-letter-spacing-base
  );
}

.p-large,
%p-large {
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular,
    $typography-font-size-base * 1.5,
    $typography-paragraph-lineheight,
    $typography-letter-spacing-base
  );
}

.p-medium,
%p-medium {
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular,
    $typography-font-size-base,
    $typography-paragraph-lineheight,
    $typography-letter-spacing-base
  );
}

.p-small,
%p-small {
  @include typography-font(
    $typography-font-list-sans,
    $typography-font-weight-regular,
    $typography-font-size-base * .875,
    $typography-paragraph-lineheight,
    $typography-letter-spacing-base + .015em
  );
}

.p-tiny,
%p-tiny {
  @include typography-font(
    $typography-font-list-sans,
    700,
    px(11),
    1.5em,
    $typography-letter-spacing-base + .05em
  );

  text-transform: uppercase;

  a {
    padding-bottom: 3px;
  }
}

.p-micro,
%p-micro { // only used in piece labels
  @include typography-font(
    $typography-font-list-sans,
    600,
    px(11),
    1.2em,
    $typography-letter-spacing-base - .025em
  );
}

code,
pre,
.p-pre,
%p-pre {
  @include typography-font(
    $typography-font-list-monospace,
    $typography-font-weight-regular,
    px(15),
    $typography-paragraph-lineheight
  );
  color: $color-secondary;
  font-variant-ligatures: none;
}

.p-label,
%p-label {
  @extend %p-small;
  color: $color-primary;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.is-icon,
%is-icon {
  display: inline-block;
  height: 1em;
  position: relative;
  top: -.1em;

  svg {
    height: 100%;
    width: auto;
  }
}

// --- default styling to all elements -----------------------------------------

html {
  font-size: 16px; // root font size
}

body {
  @extend %p-medium;

  background-color: var(--fbg-color-bg);
  color: var(--fbg-color-text);
  font-size: $typography-font-size-base;
  letter-spacing: $typography-letter-spacing-base;

  p > a,
  li > a {
    @include typography-links(inherit, inherit, 2px, $color-primary, var(--fbg-color-text));
  }
}

::selection {
  background: $color-primary;
  color: $color-white-100;
  text-shadow: none;
}

b,
strong {
  font-weight: $typography-font-weight-bold;
}

.a-invisible {
  &,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}

hr {
  background-color: $color-gray-10;
  border-top: 2px dashed $color-white-100;
  height: 0;
  margin-bottom: $spacing-small;
  opacity: 1;

  &:not([size]) {
    height: 0;
  }
}

// --- is-* modifiers ----------------------------------------------------------

.is-link {
  $gradient-transparent: linear-gradient(transparent, transparent);

  background-image: $gradient-transparent, $gradient-transparent, linear-gradient(to right, $color-primary, $color-primary);
  background-position: left bottom 2px;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  color: inherit;
  cursor: pointer;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;

  &:hover {
    background-image: $gradient-transparent, $gradient-transparent, linear-gradient(to right, $color-gray-50, $color-gray-50);
  }
}

.is-faded {
  color: $color-gray-50;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.is-right {
  text-align: right;
}

.is-justify {
  text-align: justify;
}

.is-wrapping {
  word-wrap: break-word;
}

.is-tabular {
  display: inline-block;
  text-align: center;
  width: .65em;
}
