// Copyright 2021 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group pages
///
/// Rules that affect the non-gaming screens like login/join or info pages.
///
/// @access public
////

.page-boxed {
  align-items: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  .col-12 {
    > a {
      display: block;
      text-align: center;
      width: 100%;
    }

    img {
      background-color: $color-gray-95;
      height: px(48);

      @include media-breakpoint-up(sm) {
        height: px(80);
      }
    }

    .h3 {
      font-size: 1.25em;
    }

    > p {
      padding-left: $spacing-tiny;
      padding-right: $spacing-tiny;
      text-align: center;
      text-shadow: px(1) px(1) px(1) var(--fbg-color-bg), px(-1) px(-1) px(1) var(--fbg-color-bg);
    }

    .server-feedback {
      color: $color-bad;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .p-small {
    color: $color-gray-45;
  }

  @include media-breakpoint-up(sm) {
    background-image: radial-gradient(transparent, transparent, $color-vignette), url('img/grid-square-white.svg?v=$CACHE$');

    .col-12 .h0 {
      font-size: 4em;
    }

    .col-12 .h3 {
      font-size: 1.5em;
    }
  }

  .copyright {
    padding-bottom: $spacing-small;
  }
}
