// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group abstracts
///
/// Defines various color values.
///
/// @access public
////

$color-white-100: rgba(255, 255, 255, 1);
$color-white-95a: rgba(255, 255, 255, .95);
$color-white-90a: rgba(255, 255, 255, .9);
$color-white-85a: rgba(255, 255, 255, .85);
$color-white-80a: rgba(255, 255, 255, .8);
$color-white-75a: rgba(255, 255, 255, .75);
$color-white-70a: rgba(255, 255, 255, .7);
$color-white-65a: rgba(255, 255, 255, .65);
$color-white-60a: rgba(255, 255, 255, .6);
$color-white-55a: rgba(255, 255, 255, .55);
$color-white-50a: rgba(255, 255, 255, .5);
$color-white-45a: rgba(255, 255, 255, .45);
$color-white-40a: rgba(255, 255, 255, .4);
$color-white-35a: rgba(255, 255, 255, .35);
$color-white-30a: rgba(255, 255, 255, .3);
$color-white-25a: rgba(255, 255, 255, .25);
$color-white-20a: rgba(255, 255, 255, .2);
$color-white-15a: rgba(255, 255, 255, .15);
$color-white-10a: rgba(255, 255, 255, .1);
$color-white-05a: rgba(255, 255, 255, .05);

$color-gray-95: #0d0d0d;
$color-gray-90: #1a1a1a;
$color-gray-85: #262626;
$color-gray-80: #333;
$color-gray-75: #404040;
$color-gray-70: #4d4d4d;
$color-gray-65: #595959;
$color-gray-60: #666;
$color-gray-55: #737373;
$color-gray-50: #808080;
$color-gray-45: #8c8c8c;
$color-gray-40: #999;
$color-gray-35: #a6a6a6;
$color-gray-30: #b3b3b3;
$color-gray-25: #c0c0c0;
$color-gray-20: #ccc;
$color-gray-15: #d9d9d9;
$color-gray-10: #e6e6e6;
$color-gray-05: #f2f2f2;

$color-black-100: rgba(0, 0, 0, 1);
$color-black-95a: rgba(0, 0, 0, .95);
$color-black-90a: rgba(0, 0, 0, .9);
$color-black-85a: rgba(0, 0, 0, .85);
$color-black-80a: rgba(0, 0, 0, .8);
$color-black-75a: rgba(0, 0, 0, .75);
$color-black-70a: rgba(0, 0, 0, .7);
$color-black-65a: rgba(0, 0, 0, .65);
$color-black-60a: rgba(0, 0, 0, .6);
$color-black-55a: rgba(0, 0, 0, .55);
$color-black-50a: rgba(0, 0, 0, .5);
$color-black-45a: rgba(0, 0, 0, .45);
$color-black-40a: rgba(0, 0, 0, .4);
$color-black-35a: rgba(0, 0, 0, .35);
$color-black-30a: rgba(0, 0, 0, .3);
$color-black-25a: rgba(0, 0, 0, .25);
$color-black-20a: rgba(0, 0, 0, .2);
$color-black-15a: rgba(0, 0, 0, .15);
$color-black-10a: rgba(0, 0, 0, .1);
$color-black-05a: rgba(0, 0, 0, .05);

$color-01: #0d0d0d; // black
$color-02: #3f8efc; // blue
$color-03: #0f956a; // green
$color-04: #40bfbf; // cyan
$color-05: #cc2936; // red
$color-06: #bf40bf; // magenta
$color-07: #ff6700; // orange
$color-08: #677274; // medium grey

$color-s1: #ffeba6; // sticky yellow
$color-s2: #fdce97; // sticky orange
$color-s3: #bffabb; // sticky green
$color-s4: #bbe7fa; // stocky blue
$color-s5: #f4a0c6; // sticky pink

// --------------------------------------------------------------------------

$color-primary: $color-04;
$color-secondary: $color-06;
$color-none: rgba(128, 128, 128, .5);
$color-backside: #333;

$color-bw-fg: $color-gray-85;
$color-bw-bg: $color-white-100;

$color-wb-fg: $color-gray-10;
$color-wb-bg: $color-gray-95;

$color-bad: $color-05;
$color-good: $color-primary;

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

$color-vignette: rgba(0, 0, 0, .5);

:root { // output var as string to avoid sass-lint errors
  #{'--fbg-color-primary'}: $color-primary;
  #{'--fbg-color-secondary'}: $color-secondary;
  #{'--fbg-color-dark'}: $color-gray-85;
  #{'--fbg-color-medium'}: $color-08;
  #{'--fbg-color-light'}: $color-gray-10;
  #{'--fbg-color-bg'}: $color-wb-bg;
  #{'--fbg-color-text'}: $color-wb-fg;
}
