// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group layout
///
/// Rules that apply to "main content".
///
/// @access public
////

/// apply .is-content to "readable" content like article text, help pages etc.
%is-content,
.is-content {
  h1,
  .h1 {
    color: $color-secondary;
  }

  h2,
  .h2 {
    color: $color-secondary;
  }

  h3,
  .h3 {
    color: $color-secondary;
  }

  // the following items, if used directly in a .is-content, should have
  // paragraph spacing
  > .btn {
    @include spacing-margin-top($spacing-small);
  }

  ul {
    $content-ul-indent: 1em;

    list-style: none;
    padding-left: $content-ul-indent;

    li,
    > *:first-child {
      margin-top: $spacing-tiny;
    }

    li::before {
      color: $color-secondary;
      content: '»';
      display: inline-block;
      font-weight: 600;
      margin-left: -$content-ul-indent;
      text-align: center;
      width: $content-ul-indent;
    }

    ul {
      margin-top: $spacing-tiny;

      li::before {
        content: '›';
      }
    }
  }
}
