// Copyright 2021-2022 Markus Leupold-Löwenthal
//
// This file is part of FreeBeeGee.
//
// FreeBeeGee is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// FreeBeeGee is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
// details.
//
// You should have received a copy of the GNU Affero General Public License
// along with FreeBeeGee. If not, see <https://www.gnu.org/licenses/>.

////
/// @group layout
///
/// General layout utility classes.
///
/// @access public
////

.is-noselect {
  ::selection {
    background: inherit;
    color: inherit;
  }
}

.is-gone {
  display: none;
}

.is-hidden {
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}

.is-hidden + *,
.is-content .is-hidden + * {
  &:not([class^='col-']) {
    margin-top: 0;
  }
}

%is-wide,
.is-wide {
  max-width: 64rem;
}

%is-medium,
.is-medium {
  max-width: 48rem;
}

%is-slim,
.is-slim {
  max-width: 32rem;
}

.cursor-grab {
  cursor: grabbing !important; // sass-lint:disable-line no-important
}

.cursor-cross {
  cursor: crosshair;
}
