RewriteEngine On

# no slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# serve ".html" files if called without extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# serve index.html if called with a room name as (root)folder
RewriteRule ^[A-Za-z0-9]{8,48}$ index.html [NC,L,QSA]

# Block access to all hidden files and directories
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

# Filename-based cache busting: style-1.0.5.css -> style.css
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)-([0-9\.]+)(-dev)?\.(css|js)$ $1.$4 [L]

# PHP tweaks
php_value post_max_size 24M
php_value upload_max_filesize 16M
